<h2>New Post:</h2>
<%= form_for :post, html: {multipart: true}, url: user_posts_path(params[:user_id]) do |form| %>
  <%= form.text_area :message %><br>
  <%= form.file_field :image %><br>

  <%= form.submit "Post" %>
<% end %>
